<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/styles.css" type="text/css">

    <style>
        body {
            color: white !important;
        }
    </style>
    <title>RL Stats - Analyze</title>
  </head>
  <body>
    <header>
        <img src="../static/images/blue_octane_banner_v2.png" alt="octane-ball-banner">
    </header>
    <div class="topnav" style="clear: right;">
        <a href="#" class="active">Analyze</a>
        <div id="myLinks">
          <a href="#">Home</a>
          <a href="#">extra1</a>
          <a href="#">extra2</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="dropdownFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </div>

    <div class="container-fluid">
        <div style="display: flex; justify-content: space-between; margin-top: 1vw;">
            <div style="background-color: green; width: 3vw; height: 50px; "></div>
            <div style="background-color: green; width: 3vw; height: 50px; "></div>
            <div style="background-color: green; width: 3vw; height: 50px; "></div>
            <div style="background-color: green; width: 3vw; height: 50px; "></div>
            <div style="background-color: red; width: 3vw; height: 50px; "></div>
            <div style="background-color: green; width: 3vw; height: 50px; "></div>
            <div style="background-color: green; width: 3vw; height: 50px; "></div>
            <div style="background-color: green; width: 3vw; height: 50px; "></div>
            <div style="background-color: green; width: 3vw; height: 50px; "></div>
            <div style="background-color: green; width: 3vw; height: 50px; "></div>
            <div style="background-color: green; width: 3vw; height: 50px; "></div>
            <div style="background-color: green; width: 3vw; height: 50px; "></div>
            <div style="background-color: red; width: 3vw; height: 50px; "></div>
            <div style="background-color: green; width: 3vw; height: 50px; "></div>
            <div style="background-color: red; width: 3vw; height: 50px; "></div>
            <div style="background-color: green; width: 3vw; height: 50px; "></div>
            <div style="background-color: red; width: 3vw; height: 50px; "></div>
            <div style="background-color: green; width: 3vw; height: 50px; "></div>
            <div style="background-color: red; width: 3vw; height: 50px; "></div>
            <div style="background-color: green; width: 3vw; height: 50px; "></div>
        </div>

    <div class="container-fluid" style="text-align: center; font-size: 34px;">5 W - 15 L</div>
    <br>
    <div style="text-align: center; font-size: 20px;">
        <i class="fa fa-filter"></i>
        Set Team = Blue
        <i class="fa fa-times" style="color: skyblue;"></i>
    </div>
    <div style="text-align: center; font-size: 20px;">
        <i class="fa fa-filter"></i>
        Set Game Mode = Rumble
        <i class="fa fa-times" style="color: skyblue;"></i>
    </div>
    
    <div style="text-align: center;">
        <button class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-plus"></i>
            Apply Filter
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Please Select a Filter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        TEAM
                                    </button>
                                </h5>
                            </div>
                      
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="form-group" style="background: #bbb;">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                                            <label class="form-check-label" for="exampleRadios1">
                                                Blue
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                            <label class="form-check-label" for="exampleRadios2">
                                                Orange
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" checked>
                                            <label class="form-check-label" for="exampleRadios3">
                                                None
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        GAME MODE
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="form-group" style="background: #bbb;">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exampleCheckboxes" id="casual-3v3" value="option1" checked>
                                            <label class="form-check-label" for="casual-3v3">
                                                Casual 3v3
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exampleCheckboxes" id="casual-2v2" value="option2">
                                            <label class="form-check-label" for="casual-2v2">
                                                Casual 2v2
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exampleCheckboxes" id="casual-1v1" value="option3">
                                            <label class="form-check-label" for="casual-1v1">
                                                Casual 1v1
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exampleCheckboxes" id="casual-4v4" value="option4">
                                            <label class="form-check-label" for="casual-4v4">
                                                Casual 4v4
                                            </label>
                                        </div>

                                        <hr>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exampleCheckboxes" id="comp-3v3" value="option1">
                                            <label class="form-check-label" for="comp-3v3">
                                                Competitive 3v3
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exampleCheckboxes" id="comp-2v2" value="option2">
                                            <label class="form-check-label" for="comp-2v2">
                                                Competitive 2v2
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exampleCheckboxes" id="comp-1v1" value="option3">
                                            <label class="form-check-label" for="comp-1v1">
                                                Competitive 1v1
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exampleCheckboxes" id="comp-solo-3v3" value="option4">
                                            <label class="form-check-label" for="comp-solo-3v3">
                                                Competitive 4v4
                                            </label>
                                        </div>
                                        
                                        <hr>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exampleCheckboxes" id="rumble" value="option1">
                                            <label class="form-check-label" for="rumble">
                                                Rumble
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exampleCheckboxes" id="dropshot" value="option2">
                                            <label class="form-check-label" for="dropshot">
                                                Drop Shot
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exampleCheckboxes" id="hoops" value="option3">
                                            <label class="form-check-label" for="hoops">
                                                Hoops
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exampleCheckboxes" id="snowday" value="option4">
                                            <label class="form-check-label" for="snowday">
                                                Snow Day
                                            </label>
                                        </div>

                                        <hr>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exampleCheckboxes" id="dropshot-rumble" value="option1">
                                            <label class="form-check-label" for="dropshot-rumble">
                                                Drop Shot Rumble
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exampleCheckboxes" id="spike-rush" value="option2">
                                            <label class="form-check-label" for="spike-rush">
                                                Spike Rush
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exampleCheckboxes" id="boomer-ball" value="option3">
                                            <label class="form-check-label" for="boomer-ball">
                                                Boomer Ball
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exampleCheckboxes" id="heatseeker" value="option4">
                                            <label class="form-check-label" for="heatseeker">
                                                Heatseeker
                                            </label>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        VEHICLE
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="exampleCheckboxes" id="batmobile-16" value="option1">
                                        <label class="form-check-label" for="batmobile-16">
                                            '16 Batmobile
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="exampleCheckboxes" id="dodge-charger-70" value="option2">
                                        <label class="form-check-label" for="dodge-charger-70">
                                            '70 Dodge Charger R/T
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="exampleCheckboxes" id="batmobile-89" value="option3">
                                        <label class="form-check-label" for="batmobile-89">
                                            '89 Batmobile
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="exampleCheckboxes" id="skyline-99" value="option4">
                                        <label class="form-check-label" for="skyline-99">
                                            '99 Nissan Skyline
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="exampleCheckboxes" id="skyline-99" value="option4">
                                        <label class="form-check-label" for="skyline-99">
                                            Aftershock
                                        </label>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn">Apply</button>
                </div>
            </div>
        </div>
    </div>

    <table class="container-fluid table table-dark table-striped" style="margin-top: 5%;">
        <thead>
            <tr>
                <th scope="col">Game #</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Result</th>
                <th scope="col">Team</th>
                <th scope="col">Game Mode</th>
                <th scope="col">Party</th>
                <th scope="col">Vehicle</th>
                <th scope="col">Topper</th>
                <th scope="col">Antenna</th>
                <th scope="col">FOV</th>
                <th scope="col">Distance</th>
                <th scope="col">Height</th>
                <th scope="col">Angle</th>
                <th scope="col">Cont. D.Z.</th>
                <th scope="col">Dodge D.Z.</th>
                <th scope="col">Steer. Sens.</th>
                <th scope="col">Aerial Sens.</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2020-01-01</td>
                <td>07:30:00</td>
                <td>W</td>
                <td>Blue</td>
                <td>3v3</td>
                <td>Y</td>
                <td>Octane</td>
                <td>Y</td>
                <td>N</td>
                <td>110</td>
                <td>220</td>
                <td>120</td>
                <td>-5</td>
                <td>0.3</td>
                <td>0.5</td>
                <td>5</td>
                <td>3</td>
            </tr>
            <tr>
                <td>2</td>
                <td>2020-01-01</td>
                <td>07:39:00</td>
                <td>W</td>
                <td>Other</td>
                <td>Standard</td>
                <td>Y</td>
                <td>Dominus</td>
                <td>Y</td>
                <td>N</td>
                <td>110</td>
                <td>220</td>
                <td>120</td>
                <td>-5</td>
                <td>0.3</td>
                <td>0.5</td>
                <td>5</td>
                <td>3</td>
            </tr>
            <tr>
                <td>3</td>
                <td>2020-01-01</td>
                <td>07:48:00</td>
                <td>WOT</td>
                <td>Other</td>
                <td>Rumble</td>
                <td>N</td>
                <td>Dominus</td>
                <td>Y</td>
                <td>N</td>
                <td>110</td>
                <td>220</td>
                <td>120</td>
                <td>-5</td>
                <td>0.3</td>
                <td>0.5</td>
                <td>5</td>
                <td>3</td>
            </tr>
            <tr>
                <td>4</td>
                <td>2020-01-01</td>
                <td>07:57:00</td>
                <td>LOT</td>
                <td>Orange</td>
                <td>Rumble</td>
                <td>N</td>
                <td>Dominus</td>
                <td>Y</td>
                <td>N</td>
                <td>110</td>
                <td>220</td>
                <td>120</td>
                <td>-5</td>
                <td>0.3</td>
                <td>0.5</td>
                <td>5</td>
                <td>3</td>
            </tr>
            <tr>
                <td>5</td>
                <td>2020-01-02</td>
                <td>15:25:00</td>
                <td>LFF</td>
                <td>Blue</td>
                <td>Drop Shot</td>
                <td>N</td>
                <td>Dominus</td>
                <td>Y</td>
                <td>N</td>
                <td>110</td>
                <td>220</td>
                <td>120</td>
                <td>-5</td>
                <td>0.3</td>
                <td>0.5</td>
                <td>5</td>
                <td>3</td>
            </tr>
            <tr>
                <td>6</td>
                <td>2020-01-02</td>
                <td>15:28:00</td>
                <td>WFF</td>
                <td>Blue</td>
                <td>Drop Shot</td>
                <td>N</td>
                <td>Dominus</td>
                <td>Y</td>
                <td>N</td>
                <td>110</td>
                <td>220</td>
                <td>120</td>
                <td>-5</td>
                <td>0.3</td>
                <td>0.5</td>
                <td>5</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>

    <footer>
        Last Updated: Jun 28 2020
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--This is for the vertical collapsible menu-->
    <script>
        function dropdownFunction() {
          var x = document.getElementById("myLinks");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
    </script>
  </body>
</html>