<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/styles.css" type="text/css">

    <title>RL Stats - Home</title>
  </head>
  <body>
    <header>
        <img src="../static/images/blue_octane_banner_v2.png" alt="octane-ball-banner">
    </header>
    <div class="topnav" style="clear: right;">
        <a href="#" class="active">Home</a>
        <div id="myLinks">
          <a href="#">Analyze</a>
          <a href="#">extra1</a>
          <a href="#">extra2</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="dropdownFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </div>

    <div class="container">
        <form action="#">
            <div class="form-group">
                <label>Game Mode</label>
                <div class="filter-div-container">
                    <div class="btn-group-vertical">
                        <button class="category-btn category-active-btn" id="casual-btn">CASUAL</button>
                        <button class="category-btn" id="competitive-btn">COMPETITIVE</button>
                        <button class="category-btn" id="extra-btn">EXTRA</button>
                        <button class="category-btn" id="special-btn">SPECIAL</button>
                    </div>
                    <div class="option-btn-group">
                        <button class="option-btn option-active-btn" id="standard-btn" type="button">STANDARD</button>
                        <button class="option-btn" id="dual-btn" type="button">DUAL</button>
                        <button class="option-btn" id="doubles-btn">DOUBLES</button>
                        <button class="option-btn" id="chaos-btn">CHAOS</button>
                    </div>    
                </div>
                <label for="party-checkbox" class='checkbox-lbl'>Partied Up?</label>
                <input type="checkbox" id="party-checkbox" class="form-check-lg">
            </div>
            <div class="form-group">
                <label>Team</label>
                <select class="form-control">
                    <option>Blue</option>
                    <option>Orange</option>
                    <option>Club Colors</option>
                </select>
            </div>
            <div class="form-group">
                <label>Vehicle</label>
                <select class="form-control">
                    <option>Octane</option>
                    <option>Dominus</option>
                    <option>Ronin GTX</option>
                    <option>Scarab</option>
                    <option>Marauder</option>
                    <option>Zippy</option>
                    <option>Merc</option>
                    <option>Chikara</option>
                    <option>Venom</option>
                    <option>Breakout</option>
                </select>
                <label for="topper-checkbox" class="checkbox-lbl">Topper?</label>
                <input type="checkbox" id="topper-checkbox" class="form-check-lg">
                <label for="antenna-checkbox" class="checkbox-lbl">Antenna?</label>
                <input type="checkbox" id="antenna-checkbox" class="form-check-lg">
            </div>
            <div class="form-group">
                <label>Notes</label>
                <textarea rows="3" type="textarea" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <!-- Button trigger modal -->
                <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-video-camera"></i>
                    Camera Settings
                </button>
            </div>
            <div class="form-group">
                <label>Game Result</label>
                <div class="form-row">
                    <div class="col-sm">
                        <button class="form-control btn">WIN</button>
                    </div>
                    <div class="col-sm">
                        <button class="form-control btn">LOSS</button>
                    </div>
                    <div class="col-sm">
                        <button class="form-control btn">FF (win)</button>
                    </div>
                    <div class="col-sm">
                        <button class="form-control btn">FF (loss)</button>
                    </div>
                    <div class="col-sm">
                        <button class="form-control btn">DC</button>
                    </div>
                </div>
            </div>
        </form>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Adjust Camera Settings</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="#">
                            <div class="form-group">
                                <label>Field of View</label>
                                <span style="font-family: Futura-CondensedExtraBold; text-align: center;"><span id="fov_value"></span></span>
                                <input id="fov-input" name="fov-input" class="form-control" type="range" min="60" max="110" step="1" value="110" required>
                            </div>
                            <div class="form-group">
                                <label>Distance</label>
                                <span style="font-family: Futura-CondensedExtraBold; text-align: left;"><span id="distance_value"></span></span>                                
                                <input id="distance-input" name="distance-input" class="form-control" type="range" min="100" max="400" step="10" value="220" required> 
                            </div>
                            <div class="form-group">
                                <label>Height</label>
                                <span style="font-family: Futura-CondensedExtraBold; text-align: left;"><span id="height_value"></span></span>                                
                                <input id="height-input" name="height-input" class="form-control" type="range" min="40" max="200" step="10" value="120" required>
                            </div>
                            <div class="form-group">
                                <label>Angle</label>
                                <span style="font-family: Futura-CondensedExtraBold; text-align: left;"><span id="angle_value"></span></span>
                                <input id="angle-input" name="angle-input" class="form-control" type="range" min="-15" max="0" step="1" value="-3" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer>
        Last Updated: Jun 28 2020
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--This is for the vertical collapsible menu-->
    <script>
        function dropdownFunction() {
          var x = document.getElementById("myLinks");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
    </script>
    <!--This script handles color changes when the user chooses a game mode-->
    <script>
        $(document).ready(function() {
            $(".option-btn").click(function(){
                $(".option-btn").removeClass("option-active-btn");
                $(this).addClass("option-active-btn");
            })

            $(".category-btn").click(function(){
                $(".category-btn").removeClass("category-active-btn");
                $(this).addClass("category-active-btn");
            })

            // change labels to the competitive versions
            $("#competitive-btn").click(function(){
                $("#standard-btn").text("STANDARD");
            })
            $("#competitive-btn").click(function(){
                $("#dual-btn").text("DUAL");
            })
            $("#competitive-btn").click(function(){
                $("#doubles-btn").text("DOUBLES");
            })
            $("#competitive-btn").click(function(){
                $("#chaos-btn").text("SOLO STANDARD");
            })
            
            // change labels to the casual versions
            $("#casual-btn").click(function(){
                $("#standard-btn").text("STANDARD");
            })
            $("#casual-btn").click(function(){
                $("#dual-btn").text("DUAL");
            })
            $("#casual-btn").click(function(){
                $("#doubles-btn").text("DOUBLES");
            })
            $("#casual-btn").click(function(){
                $("#chaos-btn").text("CHAOS");
            })

            // change labels to the extra game modes
            $("#extra-btn").click(function(){
                $("#standard-btn").text("RUMBLE");
            })
            $("#extra-btn").click(function(){
                $("#dual-btn").text("SNOW DAY");
            })
            $("#extra-btn").click(function(){
                $("#doubles-btn").text("HOOPS");
            })
            $("#extra-btn").click(function(){
                $("#chaos-btn").text("DROPSHOT");
            })

            // change labels to the special game modes
            $("#special-btn").click(function(){
                $("#standard-btn").text("HEATSEEKER");
            })
            $("#special-btn").click(function(){
                $("#dual-btn").text("DROPSHOT RUMBLE");
            })
            $("#special-btn").click(function(){
                $("#doubles-btn").text("BOOMER BALL");
            })
            $("#special-btn").click(function(){
                $("#chaos-btn").text("BEACHBALL MODE");
            })
            
        })
    </script>
    <!-- the following displays the sliders current value adjacent to the slider-->
    <script>
        //var fov_slider = document.getElementById("fov_input");
        var fov_slider = document.getElementById("fov-input")
        var distance_slider = document.getElementById("distance-input");
        var height_slider = document.getElementById("height-input");
        var angle_slider = document.getElementById("angle-input");

        var fov_value = document.getElementById("fov_value");
        var distance_value = document.getElementById("distance_value");
        var height_value = document.getElementById("height_value");
        var angle_value = document.getElementById("angle_value");

        fov_value.innerHTML = fov_slider.value;
        distance_value.innerHTML = distance_slider.value;
        height_value.innerHTML = height_slider.value;
        angle_value.innerHTML = angle_slider.value;
        
        fov_slider.oninput = function() {
            fov_value.innerHTML = this.value;
        }
        distance_slider.oninput = function() {
            distance_value.innerHTML = this.value;
        }
        height_slider.oninput = function() {
            height_value.innerHTML = this.value;
        }
        angle_slider.oninput = function() {
            angle_value.innerHTML = this.value;
        }

    </script>
  </body>
</html>