* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background: rgb(252, 84,12);
    padding: 40px;
}

h1 {
    color: black;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 60px;
}


.fa-home {
    color: blue;
}

.fa-save {
    color: orangered;
}

label {
    font-family: "Courier";
    font-size: 30px;
}

input {
    font-family: "Courier";
    font-size: 33px;    
} 

#save-btn {
    font-family: "Courier";
    font-size: 80px;
}

#main-btn {
    font-family: "Courier";
    font-size: 80px;    
}

/* I can't get the style to work for all checkbox elements, so I refer to them below by their IDs*/
/* Start of checkbox elements */
#camera-shake {
    width: 50px;
    height: 50px;
}

#invert-swivel {
    width: 50px;
    height: 50px;
}

#push-to-talk {
    width: 50px;
    height: 50px;
}
/*End of checkbox elements*/

select {
    font-family: "Courier";
    font-size: 33px;
}