@font-face {
    font-family: rl_font;
    src: url("../static/fonts/Futura_Condensed_Extra_Bold.otf");
}

* {
    font-family: rl_font;
    --dark-red-bg: rgb(128, 42, 0);
    --dark-blue-bg: rgb(0, 37, 110);
    --light-red-bg: rgb(185,63,2);
    --light-blue-bg: rgb(0, 85, 255);
}
body {
    background-color: #333;
}

/* this is a hack to allow the background image to have an opacity property */
body::after {
    content: "";
    background: url("../static/images/axiom-pattern.png");
    opacity: 0.2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}


header> img {
    float: right;
    right: 0px;
    height: 200px;
}

.topnav {
overflow: hidden;
background-color: #555;
position: relative;
}

.topnav #myLinks {
display: none;
}

.topnav a {
color: white;
padding: 14px 16px;
text-decoration: none;
font-size: 26px;
display: block;
}

.topnav a.icon {
background: black;
display: block;
position: absolute;
right: 0;
top: 0;
}

.active {
background-color: var(--dark-blue-bg);
color: white;
}

form {
    background-color: rgb(107, 156, 255);
    padding: 3%;
    margin-top: 2%;
}

form .btn {
    background-color: var(--dark-blue-bg);
    color: white;
}

#camera-settings-btn {
    background-color: #666;
}

form label {
    color: black;
    font-size: 20px;
}

form .checkbox-lbl {
    font-size: 16px;
}

form .btn:hover {
    background-color: var(--light-blue-bg);
    color: black;
}

.modal-footer .btn {
    background-color: var(--dark-blue-bg);
    color: white;
}

.modal-title {
    color: black;
}
.filter-div-container {
    display: flex;
    flex-wrap:nowrap;
}

.category-btn {
    background-color: var(--dark-blue-bg);
    border: 1px solid black;
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    height: 30%;
    width: 95%;
    font-size: 20px;
}

.category-btn:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.category-btn:hover {
    background-color: var(--light-blue-bg);
}

.category-active-btn{
    background-color:var(--light-blue-bg);
    border: 1px solid black;    
    color: white;
    cursor: pointer;
    height: 30%;
    width: 100%;
}

.option-btn {
    background-color: var(--dark-blue-bg); 
    border: 1px solid rgb(0, 0, 0);
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%;
    font-size: 20px;
}

.option-btn:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.option-btn:hover {
    background-color: var(--light-blue-bg);
}

.option-active-btn {
    background-color: var(--light-blue-bg);
    border: 1px solid rgb(0,0,0);
    color: white;
    cursor: pointer;
}


.option-btn-group {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-end;
    width: 66%;
    border: 4px solid black;
}
.btn-group-vertical {
    flex-grow: 0;
    width: 33%;
    background-color: black;
}

footer {
    position: absolute;
    /*top: 100vh;
    left: 50vw;
    transform: translate(-50%, -50%);*/
    margin-top: 2%;
    margin-bottom: 1%;
    color: white;
    width: 99%;
    text-align: center;
}

.card-body {
    color: black;
}

@media only screen and (max-width: 1030px){
    table {
      display: none;
    }

    .category-btn, .option-btn {
        font-size: 12px;
    }

 }