@font-face {
    font-family: rl_font;
    src: url("../static/fonts/Futura_Condensed_Extra_Bold.otf");
}

* {
    font-family: rl_font;
    --dark-red-bg: rgb(128, 42, 0);
    --dark-blue-bg: rgb(0, 37, 110);
    --light-red-bg: rgb(185,63,2);
    --light-blue-bg: rgb(0, 85, 255);
}

body {
    background-color: #333;
}

/* this is a hack to allow the background image to have an opacity property */
body::after {
    content: "";
    background: url("../static/images/axiom-pattern.png");
    opacity: 0.2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}


header> img {
    float: right;
    right: 0px;
    height: 200px;
}

.topnav {
    overflow: hidden;
    background-color: #555;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 26px;
    display: block;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.active-blue {
    background-color: var(--dark-blue-bg);
    color: white;
}

.active-red {
    background-color: var(--dark-red-bg);
    color: white;
}


.form-blue {
    padding: 3%;
    margin-top: 2%;
    background-image: radial-gradient(var(--light-blue-bg), var(--dark-blue-bg));
}

.form-red {
    padding: 3%;
    margin-top: 2%;
    background-image: radial-gradient(var(--light-red-bg), var(--dark-red-bg));
}

.btn-blue {
    background-color: var(--dark-blue-bg);
    color: white;
}

.btn-red {
    background-color: var(--dark-red-bg);
    color: white;
}

form label {
    color: white;
    font-size: 20px;
}

form .btn-blue:hover {
    background-color: var(--light-blue-bg);
    color: white;
}

form .btn-red:hover {
    background-color: var(--light-red-bg);
    color: white;
}

form .form-group span {
    color: white;

}

#antenna-lbl {
    margin-left: 40px;
}

.modal-title {
    color: black;
}
.filter-div-container {
    display: flex;
    flex-wrap:nowrap;
}

.category-btn {
    border: 1px solid black;
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    height: 30%;
    width: 90%;
    font-size: 20px;
}

.category-btn-blue {
    background-color: var(--dark-blue-bg);
}

.category-btn-red {
    background-color: var(--dark-red-bg);
}

.category-btn:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.category-btn-blue:hover {
    background-color: var(--light-blue-bg);
}

.category-btn-red:hover {
    background-color: var(--light-red-bg);
}

.category-btn-active-blue {
    background-color: var(--light-blue-bg);
    height: 30%;
    width: 100%;
}

.category-btn-active-red {
    background-color: var(--light-red-bg);
    height: 30%;
    width: 100%;
}

.option-btn {
    border: 1px solid rgb(0, 0, 0);
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%;
    font-size: 20px;
}

.option-btn-blue {
    background-color: var(--dark-blue-bg); 
}

.option-btn-red {
    background-color: var(--dark-red-bg); 
}

.option-btn:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.option-btn-blue:hover {
    background-color: var(--light-blue-bg);
}

.option-btn-red:hover {
    background-color: var(--light-red-bg);
}

.option-btn-active-blue {
    background-color: var(--light-blue-bg);
    border: 1px solid rgb(0,0,0);
    color: white;
    cursor: pointer;
}

.option-btn-active-red {
    background-color: var(--light-red-bg);
    border: 1px solid rgb(0,0,0);
    color: white;
    cursor: pointer;
}

.option-btn-group {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-end;
    width: 66%;
    border: 4px solid black;
}
.btn-group-vertical {
    flex-grow: 0;
    width: 33%;
    background-color: black;
}

footer {
    position: absolute;
    margin-top: 2%;
    margin-bottom: 1%;
    color: white;
    width: 99%;
    text-align: center;
}

.card-body {
    color: black;
}

@media only screen and (max-width: 1030px){
    table {
      display: none;
    }

    .category-btn, .option-btn {
        font-size: 12px;
    }
    .category-btn, .option-btn {
        font-size: 12px;
    }

 }

.alert-error {
    color: white;
}

/*These are for formatting the camera-settings sliders*/
.fov-slider-blue {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(1.0, var(--light-blue-bg)),
        color-stop(1.0, #ddd)
    );
}
.fov-slider-red {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(1.0, var(--light-red-bg)),
        color-stop(1.0, #ddd)
    );
}

.distance-slider-blue {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.4, var(--light-blue-bg)),
        color-stop(0.4, #ddd)
    );
}

.distance-slider-red {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.4, var(--light-red-bg)),
        color-stop(0.4, #ddd)
    );
}

.height-slider-blue {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.5, var(--light-blue-bg)),
        color-stop(0.5, #ddd)
    );
}

.height-slider-red {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.5, var(--light-red-bg)),
        color-stop(0.5, #ddd)
    );
}

.angle-slider-blue {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.8, var(--light-blue-bg)),
        color-stop(0.8, #ddd)
    );
}

.angle-slider-red {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.8, var(--light-red-bg)),
        color-stop(0.8, #ddd)
    );
}
/*These blocks affect only the thumb on the slider, not the track*/
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border: 1px solid #CECECE;
    height: 15px;
    width: 15px;
}

.fov-slider-blue::-webkit-slider-thumb {
    background-color: var(--dark-blue-bg);
}

.fov-slider-red::-webkit-slider-thumb {
    background-color: var(--dark-red-bg);
}

.distance-slider-blue::-webkit-slider-thumb {
    background-color: var(--dark-blue-bg);
}

.distance-slider-red::-webkit-slider-thumb {
    background-color: var(--dark-red-bg);
}

.height-slider-blue::-webkit-slider-thumb {
    background-color: var(--dark-blue-bg);
}

.height-slider-red::-webkit-slider-thumb {
    background-color: var(--dark-red-bg);
}

.angle-slider-blue::-webkit-slider-thumb {
    background-color: var(--dark-blue-bg);
}

.angle-slider-red::-webkit-slider-thumb {
    background-color: var(--dark-red-bg);
}