<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/styles.css" type="text/css">

    <style>
        body {
            color: white;
        }
    </style>
    <title>RL Stats</title>
  </head>
  <body>
    <header>
        <img src="../static/images/blue_octane_banner_v2.png" alt="octane-ball-banner">
    </header>
    <div class="topnav" style="clear: right;">
        <a href="#" class="active">Analyze</a>
        <div id="myLinks">
          <a href="#">Home</a>
          <a href="#">extra1</a>
          <a href="#">extra2</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="dropdownFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p>Recent W - L for Blue Team</p>
            </div>
            <div class="col">
                <p>12 - 8</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Recent W - L in
                <select>
                    <option>Casual 3v3</option>
                    <option>Casual 2v2</option>
                    <option>Casual 1v1</option>
                    <option>Casual 4v4</option>
                    <option>Competitive Standard</option>
                    <option>Competitive Doubles</option>
                    <option>Competitive Duel</option>
                    <option>Competitive Solo Standard</option>
                    <option>Rumble</option>
                    <option>Dropshot</option>
                    <option>Hoops</option>
                    <option>Snowday</option>
                </select>
            </div>
            <div class="col">
                <p>8 - 12</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Recent W - L for
                <select>
                    <option>Octane</option>
                    <option>Dominus</option>
                    <option>Ronin GXT</option>
                    <option>Zippy</option>
                    <option>Gizmo</option>
                    <option>Scarab</option>
                    <option>Venom</option>
                </select>
            </div>
            <div class="col">
                <p>6 - 14</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Recent W - L with
                <select>
                    <option>Topper</option>
                    <option>Antenna</option>
                    <option>Party</option>
                </select>
            </div>
            <div class="col">
                <p>10 - 10</p>
            </div>
        </div>

        <div style="display: flex; justify-content: space-between;">
            <div style="background-color: green; width: 3vw; height: 3vw; "></div>
            <div style="background-color: green; width: 3vw; height: 3vw; "></div>
            <div style="background-color: green; width: 3vw; height: 3vw; "></div>
            <div style="background-color: red; width: 3vw; height: 3vw; "></div>
            <div style="background-color: red; width: 3vw; height: 3vw; "></div>
            <div style="background-color: green; width: 3vw; height: 3vw; "></div>
            <div style="background-color: green; width: 3vw; height: 3vw; "></div>
            <div style="background-color: green; width: 3vw; height: 3vw; "></div>
            <div style="background-color: green; width: 3vw; height: 3vw; "></div>
            <div style="background-color: green; width: 3vw; height: 3vw; "></div>
            <div style="background-color: green; width: 3vw; height: 3vw; "></div>
            <div style="background-color: green; width: 3vw; height: 3vw; "></div>
            <div style="background-color: red; width: 3vw; height: 3vw; "></div>
            <div style="background-color: red; width: 3vw; height: 3vw; "></div>
            <div style="background-color: red; width: 3vw; height: 3vw; "></div>
            <div style="background-color: red; width: 3vw; height: 3vw; "></div>
            <div style="background-color: red; width: 3vw; height: 3vw; "></div>
            <div style="background-color: green; width: 3vw; height: 3vw; "></div>
            <div style="background-color: green; width: 3vw; height: 3vw; "></div>
            <div style="background-color: green; width: 3vw; height: 3vw; "></div>
        </div>

        <div style="text-align: center; font-size: 2vw;">13 W - 7 L</div>
        
    </div>
    <footer>
        Last Updated: Jun 28 2020
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--This is for the vertical collapsible menu-->
    <script>
        function dropdownFunction() {
          var x = document.getElementById("myLinks");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
    </script>
  </body>
</html>