<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- style.css CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}" type="text/css">

    <title>Adjust Camera Settings</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="bg-img-orange">
                <div class="topnav-container">
                    <div class="topnav">
                        <a href="{{ url_for('index') }}">HOME</a>
                        <a href="#pre-game">PRE-GAME</a>
                        <a class="active" href="{{ url_for('camera_settings') }}">CAMERA</a>
                        <a href="{{ url_for('controller_settings') }}">CONTROLLER</a>
                    </div>
                </div>
            </div>    
        </div>
        <div class="row">
            <div class="col text-right">
                <label class="camera_lbls">PROFILE NAME:</label>
            </div>
            <div class="col">
                <form name="camera-settings">
                    <input type="text" id="profile_name_input" class="camera_txts">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <label class="camera_lbls">CAMERA SHAKE:</label>
            </div>
            <div class="col">
                <form name="camera-settings">
                    <input type="checkbox" id="camera_shake_input" class="camera_checkbox">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-right">
                <label class="camera_lbls">FIELD OF VIEW:</label>
            </div>
            <div class="col-6">
                <form name="camera-settings">
                    <div>
                        <input type="range" id="fov_input" class="camera_radio" min="60" max="110" step="1" value="69">
                        <span style="font-family: Futura-CondensedExtraBold; font-size: 34px; text-align: left;"><span id="fov_value"></span></span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-right">
                <label class="camera_lbls">DISTANCE:</label>
            </div>
            <div class="col-6">
                <form name="camera-settings">
                    <div>
                        <input type="range" id="distance_input" class="camera_radio" min="100" max="400" step="10" value="220">
                        <span style="font-family: Futura-CondensedExtraBold; font-size: 34px; text-align: left;"><span id="distance_value"></span></span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-right">
                <label class="camera_lbls">HEIGHT:</label>
            </div>
            <div class="col-6">
                <form name="camera-settings">
                    <div>
                        <input type="range" id="height_input" class="camera_radio" min="40" max="200" step="10">
                        <span style="font-family: Futura-CondensedExtraBold; font-size: 34px; text-align: left;"><span id="height_value"></span></span>                    
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-right">
                <label class="camera_lbls">ANGLE:</label>
            </div>
            <div class="col-6">
                <form name="camera-settings">
                    <div>
                        <input type="range" id="angle_input" class="camera_radio" min="-15" max="0" step="1">
                        <span style="font-family: Futura-CondensedExtraBold; font-size: 34px; text-align: left;"><span id="angle_value"></span></span>                    
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-right">
                <label class="camera_lbls">STIFFNESS:</label>
            </div>
            <div class="col-6">
                <form name="camera-settings">
                    <div>
                        <input type="range" id="stiffness_input" class="camera_radio" min="0" max="1" step="0.05">
                        <span style="font-family: Futura-CondensedExtraBold; font-size: 34px; text-align: left;"><span id="stiffness_value"></span></span>                    
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-right">
                <label class="camera_lbls">SWIVEL SPEED:</label>
            </div>
            <div class="col-6">
                <form name="camera-settings">
                    <div>
                        <input type="range" id="swivel_input" class="camera_radio" min="1" max="10" step="0.1">
                        <span style="font-family: Futura-CondensedExtraBold; font-size: 34px; text-align: left;"><span id="swivel_value"></span></span>                    
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-right">
                <label class="camera_lbls">TRANSITION SPEED:</label>
            </div>
            <div class="col-6">
                <form name="camera-settings">
                    <div>
                        <input type="range" id="transition_input" class="camera_radio" min="1" max="2" step="0.1">
                        <span style="font-family: Futura-CondensedExtraBold; font-size: 34px; text-align: left;"><span id="transition_value"></span></span>                    
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <label class="camera_lbls">INVERT SWIVEL:</label>
            </div>
            <div class="col">
                <form  name="camera-settings">
                    <input type="checkbox" id="invert_swivel_input" class="camera_checkbox">
                </form>
            </div>
        </div>
        <!-- include two buttons at the bottom here, one to save/submit and one to go back to main page-->
        <div class="row justify-content-center">
            <div class="col-2">
                <form action=/save_camera_settings name="camera-settings">
                    <input class="btn btn-block btn-primary" type="submit" value="SAVE" id="camera-save-btn">
                </form>
            </div>
            <div class="col-2">
                <form action=/main_page>
                    <input class="btn btn-block btn-primary" type="submit" value="MAIN" id="camera-main-btn">
                </form>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- the following displays the sliders current value adjacent to the slider-->
    <script>
        var fov_slider = document.getElementById("fov_input");
        var distance_slider = document.getElementById("distance_input");
        var height_slider = document.getElementById("height_input");
        var angle_slider = document.getElementById("angle_input");
        var stiffness_slider = document.getElementById("stiffness_input");
        var swivel_slider = document.getElementById("swivel_input");
        var transition_slider = document.getElementById("transition_input");

        var fov_value = document.getElementById("fov_value");
        var distance_value = document.getElementById("distance_value");
        var height_value = document.getElementById("height_value");
        var angle_value = document.getElementById("angle_value");
        var stiffness_value = document.getElementById("stiffness_value");
        var swivel_value = document.getElementById("swivel_value");
        var transition_value = document.getElementById("transition_value");

        fov_value.innerHTML = fov_slider.value;
        distance_value.innerHTML = distance_slider.value;
        height_value.innerHTML = height_slider.value;
        angle_value.innerHTML = angle_slider.value;
        stiffness_value.innerHTML = stiffness_slider.value;
        swivel_value.innerHTML = swivel_slider.value;
        transition_value.innerHTML = transition_slider.value;
        
        fov_slider.oninput = function() {
            fov_value.innerHTML = this.value;
        }
        distance_slider.oninput = function() {
            distance_value.innerHTML = this.value;
        }
        height_slider.oninput = function() {
            height_value.innerHTML = this.value;
        }
        angle_slider.oninput = function() {
            angle_value.innerHTML = this.value;
        }
        stiffness_slider.oninput = function() {
            stiffness_value.innerHTML = this.value;
        }
        swivel_slider.oninput = function() {
            swivel_value.innerHTML = this.value;
        }
        transition_slider.oninput = function() {
            transition_value.innerHTML = this.value;
        }
        
        
    </script>

    <!-- this code works for one slider, I want to adapt it for multiple sliders.-->
    <script>
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;

        slider.oninput = function() {
            output.innerHTML = this.value;
        }
    </script>
</body>

</html>