<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- style.css CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}" type="text/css">
    <link rel="stylesheet" href="../static/styles.css" type="text/css">

    <title>Adjust Controller Settings</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="bg-img-orange">
                <div class="topnav-container">
                    <div class="topnav">
                        <a href="{{ url_for('index') }}">HOME</a>
                        <a href="#pre-game">PRE-GAME</a>
                        <a href="{{ url_for('camera_settings') }}">CAMERA</a>
                        <a class="active" href="{{ url_for('controller_settings') }}">CONTROLLER</a>
                    </div>
                </div>
            </div>    
        </div>
        <div class="row">
            <div class="col text-right">
                <label class="camera_lbls">PROFILE NAME:</label>
            </div>
            <div class="col">
                <form name="controller-settings">
                    <input type="text" id="profile_name_input" class="camera_txts">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <label class="camera_lbls">TYPE OF INPUT DEVICE:</label>
            </div>
            <div class="col">
                <form name="controller-settings">
                    <select id="device_dropdown" name="device_dropdown">
                    <option>Keyboard</option>
                    <option>Controller</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <label class="camera_lbls">BALL CAMERA MODE:</label>
            </div>
            <div class="col">
                <form name="controller-settings">
                    <select>
                    <option>Toggle</option>
                    <option>Always On</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <label class="camera_lbls">PUSH TO TALK:</label>
            </div>
            <div class="col">
                <form  name="controller-settings">
                    <input type="checkbox" id="invert_swivel_input" class="camera_checkbox">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-right">
                <label class="camera_lbls">MOUSE SENSITIVITY:</label>
            </div>
            <div class="col-6">
                <form name="controller-settings">
                    <div>
                        <input type="range" id="mouse_sens_input" class="camera_radio" min="1" max="100" step="1">
                        <span style="font-family: Futura-CondensedExtraBold; font-size: 34px; text-align: left;"><span id="mouse_sens_value"></span></span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-right">
                <label class="camera_lbls">KEYBOARD INPUT ACCELERATION TIME:</label>
            </div>
            <div class="col-6">
                <form name="controller-settings">
                    <div>
                        <input type="range" id="kb_accel_input" class="camera_radio" min="0" max="0.25" step="0.01">
                        <span style="font-family: Futura-CondensedExtraBold; font-size: 34px; text-align: left;"><span id="kb_accel_value"></span></span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2">
                <form action=/save_camera_settings name="camera-settings">
                    <input class="btn btn-block btn-primary" type="submit" value="SAVE" id="camera-save-btn">
                </form>
            </div>
            <div class="col-2">
                <form action=/main_page>
                    <input class="btn btn-block btn-primary" type="submit" value="MAIN" id="camera-main-btn">
                </form>
            </div>
        </div>        
        
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <!-- the following displays the sliders current value adjacent to the slider-->
    <script>
        var mouse_sens_slider = document.getElementById("mouse_sens_input");
        var kb_accel_slider = document.getElementById("kb_accel_input");

        var mouse_sens_value = document.getElementById("mouse_sens_value");
        var kb_accel_value = document.getElementById("kb_accel_value");

        mouse_sens_value.innerHTML = mouse_sens_slider.value;
        kb_accel_value.innerHTML = kb_accel_slider.value;
        
        mouse_sens_slider.oninput = function() {
            mouse_sens_value.innerHTML = this.value;
        }
        kb_accel_slider.oninput = function() {
            kb_accel_value.innerHTML = this.value;
        }
        
        
    </script>
</body>



















</html>