<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- style.css CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}" type="text/css">
    <link rel="stylesheet" href="../static/styles.css" type="text/css">
    <title>RL Stats Registration</title>

    
</head>

<body>
    <header>
        <img src="../static/images/orange_octane_banner_v2.png" alt="octane-ball-banner" style="max-height: 150px; background-size: auto;">
    </header>
    

    <div class="container-fluid" style="position: absolute; top:150px;">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pre-Game</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Camera</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Controller</a>
            </li>
        </ul>



        <!--<div class="row">
                <div id="header-img">
                    <div class="topnav-container">
                        <div class="topnav">
                            <a class="active-orange" href="{{ url_for('home') }}">HOME</a>
                            <a href="{{ url_for('pregame_settings')}}">PRE-GAME</a>
                            <a href="{{ url_for('camera_settings') }}">CAMERA</a>
                            <a href="{{ url_for('controller_settings') }}">CONTROLLER</a>
                        </div>
                    </div>
                </div>    
        </div>-->
        <div class="row justify-content-center">
            RESULT
        </div>
        <div class="row justify-content-center" style >
            <div class="col-m-2">
                WIN
            </div>
            <div class="col-m-2">
                LOSS
            </div>
            <div class="col-m-2">
                OT LOSS
            </div>
            <div class="col-m-2">
                FF
            </div>
        </div>
        

        <div class="row justify-content-center">
            <div class="col-3" style="padding-top: 15px;">

                <div class="row align-items-center" style="padding-top: 15px; padding-bottom: 15px;">
                    <div class="col-12 text-center">
                        <h2>TEAM</h2>
                    </div>
                    <div class="col-12 text-center">
                        <form name="team_form">
                            <ul class="segmented-control">
                                <li class="segmented-control__item">
                                    <input class="segmented-control__input" type="radio" value="1" name="team" id="blue" onclick="colorScheme(this.id)">
                                    <label class="segmented-control__label-orange  segmented-control__label" for="blue">BLUE</label>
                                </li>
                                <li class="segmented-control__item">
                                    <input class="segmented-control__input" type="radio" value="2" name="team" id="orange" checked onclick="colorScheme(this.id)">
                                    <label class="segmented-control__label-orange" for="orange">ORANGE</label>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="row align-items-center" style="padding-top: 15px; padding-bottom: 15px;">
                    <div class="col-12 text-center">
                        <h2>RESULT</h2>
                    </div>
                    <div class="col-12 text-center">
                        <form name="result_form">
                            <ul class="segmented-control">
                                <li class="segmented-control__item">
                                    <input class="segmented-control__input" type="radio" value="1" name="result" id="win" checked>
                                    <label class="segmented-control__label-orange" for="win">WIN</label>
                                </li>
                                <li class="segmented-control__item">
                                    <input class="segmented-control__input" type="radio" value="2" name="result" id="loss" >
                                    <label class="segmented-control__label-orange" for="loss">LOSS</label>
                                </li>
                                <li class="segmented-control__item">
                                    <input class="segmented-control__input" type="radio" value="3" name="result" id="ot_loss" >
                                    <label class="segmented-control__label-orange segmented-control__label" for="ot_loss">OT LOSS</label>
                                </li>
                                <li class="segmented-control__item">
                                    <input class="segmented-control__input" type="radio" value="4" name="result" id="forfeit" >
                                    <label class="segmented-control__label-orange segmented-control__label" for="forfeit">FORFEIT</label>
                                </li>
                                <li class="segmented-control__item">
                                    <input class="segmented-control__input" type="radio" value="5" name="result" id="disconnect" >
                                    <label class="segmented-control__label-orange segmented-control__label" for="disconnect">DISCONNECT</label>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="row align-items-center" style="padding-top: 15px; padding-bottom: 15px;">
                    <div class="col-12 text-center">
                        <h2>NOTES</h2>
                    </div>
                    <div class="col-12 text-center">
                        <form name="game_form">
                            <textarea cols="39" rows="3" name="notes_txt" id="notes_txt"></textarea>
                        </form>
                    </div>
                </div>
                <div class="row align-items-center" style="padding-top: 15px; padding-bottom: 15px;">
                    <div class="col-6 text-center">
                        <form>
                            <input type="submit" value="SAVE" class="btn btn-block">
                        </form>
                    </div>
                    <div class="col-6 text-center">
                        <form>
                            <input type="submit" value="RESET" class="btn btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- The following jquery script changes the color profile of the page based on whether blue
    or orange team is selected-->

    <script>
        $(document).ready(function() {
            $(".segmented-control__label-orange").on("click", function(){
                if ($(this).text() == "ORANGE") {
                    $("#header-img").removeClass("bg-img-blue").addClass("bg-img-orange");
                    $(".topnav .active-blue").removeClass("active-blue").addClass("active-orange");
                    $(".kickoff-blue-btn").removeClass("kickoff-blue-btn").addClass("kickoff-orange-btn");
                    $(".segmented-control__label-blue").removeClass("segmented-control__label-blue").addClass("segmented-control__label-orange");
                } else if ($(this).text() == "BLUE") {
                    $("#header-img").removeClass("bg-img-orange").addClass("bg-img-blue");
                    $(".topnav .active-orange").removeClass("active-orange").addClass("active-blue");
                    $(".kickoff-orange-btn").removeClass("kickoff-orange-btn").addClass("kickoff-blue-btn");
                    $(".segmented-control__label-orange").removeClass("segmented-control__label-orange").addClass("segmented-control__label-blue");
                }
            })
        });
    </script>
    <!-- Make a script to change color profile of page based on whether blue or orange team is selected -->
    <!-- What follows is the first version I tried, but I learned the basics of jquery and think that'd be
    a better way to go
    <script>
        function colorScheme(sender) {
            switch (sender) {
                case "blue":
                    document.getElementById("header-img").className = "bg-img-blue";
                    var x = document.getElementsByClassName("kickoff-orange-btn");
                    var i;
                    for (i=0; i<x.length; i++) {
                        x[i].style.backgroundColor = "rgb(0,42,128)";
                    }

                    break;
                case "orange":
                    document.getElementById("header-img").className = "bg-img-orange";
                    var x = document.getElementsByClassName("kickoff-orange-btn");
                    var i;
                    for (i=0; i<x.length; i++) {
                        x[i].style.backgroundColor = "rgb(128,42,0)";
                    }
                    break;
            }
        }
    </script>-->

    <!-- This script also works on the first click; had to set onaction attribute in button element-->
    <!-- the counters are hidden inputs that'll get sent to flask when it comes time to store values-->
    <script>
        function myFunc(sender) {
            if (sender=="whiff_btn") {
                var whiff_btn = document.getElementById("whiff_btn");
                var whiff_lbl = document.getElementById("whiff_count_lbl");
                var whiff_counter = document.getElementById("whiff_counter");
                var whiff_count = whiff_lbl.innerHTML;
                whiff_count++;
                whiff_lbl.innerHTML = whiff_count;
                whiff_counter.value = whiff_count;
            } else if (sender=="loss_btn") {
                var loss_btn = document.getElementById("loss_btn");
                var loss_lbl = document.getElementById("loss_count_lbl");
                var loss_count = loss_lbl.innerHTML;
                var loss_counter = document.getElementById("loss_counter");
                loss_count++;
                loss_lbl.innerHTML = loss_count;
                loss_counter.value = loss_count;
            } else if (sender=="win_btn") {
                var win_btn = document.getElementById("win_btn");
                var win_lbl = document.getElementById("win_count_lbl");
                var win_count = win_lbl.innerHTML;
                var win_counter = document.getElementById("win_counter");
                win_count++;
                win_lbl.innerHTML = win_count;
                win_counter.value = win_count;
            }
        }
    </script>
    <!-- This script works, but never on the first click of the whiff btn and I think
    it's because it's value is "" to start (not zero)-->
    <!--<script>
        var whiff_btn = document.getElementById("whiff_btn");
        var whiff_lbl = document.getElementById("whiff_count_lbl");
        var whiff_count = whiff_lbl.innerHTML;

        whiff_btn.onclick = function() {
            whiff_lbl.innerHTML = whiff_count++;
        }

    </script>-->

</body>

</html>