{% extends "base.html" %}

{% block content %}

<div class="topnav" style="clear: right;">
    <a href="{{ url_for('analyze') }}" class="active-blue" id="home-link">Analyze</a>
    <div id="myLinks">
      <a href="{{ url_for('index') }}" id="analyze-link">Home</a>
      <a href="{{ url_for('logout') }}" id="logout">Logout</a>
      <a href="#" id="extra2-link">extra2</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="dropdownFunction()">
      <i class="fa fa-bars"></i>
    </a>
</div>

<div class="container-fluid">
    <div style="display: flex; flex-direction: row-reverse; justify-content: space-between; margin: 1vw;">
        {% for item in result_dict %}
            {% if result_dict[item][3] == "Win" %}
                <div style="background-color: green; width: 3vw; height: 50px;"></div>
            {% elif result_dict[item][3] == "Loss" %}
                <div style="background-color: red; width: 3vw; height: 50px;"></div>
            {% elif result_dict[item][3] == "Forfeit Win" %}
                <div style="background-color: green; width: 3vw; height: 50px;"></div>
            {% elif result_dict[item][3] == "Forfeit Loss" %}
                <div style="background-color: red; width: 3vw; height: 50px;"></div>
            {% else %}
                <div style="background-color: black; width: 3vw; height: 50px;"></div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class='container' style="text-align: center;">
    <p style="color: white; font-size: 40px; text-align: center;">{{ result_dict['record'] }}</p>
</div>
<div class="container-fluid">
    <table class="table table-dark table-striped table-hover table-sm" style="margin-top: 3%;" id="big-table">
        <thead>
            <tr>
                <th scope="col"><input style="width: 65px;" id="game-hdr" type="text" placeholder="Game #" onkeyup="filterTable('game-hdr', 0)"><span onclick="sortTable(0)" class="fa fa-sort"></span></th>
                <th scope="col"><input style="width: 165px;" id="date-hdr" type="text" placeholder="Date" onkeyup="filterTable('date-hdr', 1)"><span onclick="sortTable(1)" class="fa fa-sort"></span></th>
                <th scope="col"><input style="width: 90px;" id="result-hdr" type="text" placeholder="Result" onkeyup="filterTable('result-hdr', 2)"><span onclick="sortTable(2)" class="fa fa-sort"></span></th>
                <th scope="col"><input style="width: 90px;" id="team-hdr" type="text" placeholder="Team" onkeyup="filterTable('team-hdr', 3)"><span onclick="sortTable(3)" class="fa fa-sort"></span></th>
                <th scope="col"><input style="width: 120px;" id="gametype" type="text" placeholder="Game Mode" onkeyup="filterTable('gametype', 4)"><span onclick="sortTable(4)" class="fa fa-sort"></span></th>
                <th scope="col"><input style="width: 60px;" id="party-hdr" type="text" placeholder="Party" onkeyup="filterTable('party-hdr', 5)"><span onclick="sortTable(5)" class="fa fa-sort"></span></th>
                <th scope="col"><input style="width: 170px;" id="vehicle-hdr" type="text" placeholder="Vehicle" onkeyup="filterTable('vehicle-hdr', 6)"><span onclick="sortTable(6)" class="fa fa-sort"></span></th>
                <th scope="col"><input style="width: 70px;" id="topper-hdr" type="text" placeholder="Topper" onkeyup="filterTable('topper-hdr', 7)"><span onclick="sortTable(7)" class="fa fa-sort"></span></th>
                <th scope="col"><input style="width: 80px;" id="antenna-hdr" type="text" placeholder="Antenna" onkeyup="filterTable('antenna-hdr', 8)"><span onclick="sortTable(8)" class="fa fa-sort"></span></th>
                <th scope="col"><input style="width: 55px;" id="fov-hdr" type="text" placeholder="FOV" onkeyup="filterTable('fov-hdr', 9)"><span onclick="sortTable(9)" class="fa fa-sort"></span></th>
                <th scope="col"><input style="width: 90px;" id="distance-hdr" type="text" placeholder="Distance" onkeyup="filterTable('distance-hdr', 10)"><span onclick="sortTable(10)" class="fa fa-sort"></span></th>
                <th scope="col"><input style="width: 75px;" id="height-hdr" type="text" placeholder="Height" onkeyup="filterTable('height-hdr', 11)"><span onclick="sortTable(11)" class="fa fa-sort"></span></th>
                <th scope="col"><input style="width: 75px;" id="angle-hdr" type="text" placeholder="Angle" onkeyup="filterTable('angle-hdr', 12)"><span onclick="sortTable(12)" class="fa fa-sort"></span></th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(20) %}
                <tr>
                    <td>
                        {{ result_dict[i][0] }}
                    </td>
                    <td>
                        {{ result_dict[i][1] }}
                    </td>
                    <td>
                        {{ result_dict[i][3] }}
                    </td>
                    <td>
                        {{ result_dict[i][7] }}
                    </td>
                    <td>
                        {{ result_dict[i][5] }}
                    </td>
                    <td>
                        {% if result_dict[i][6] == 0: %}
                            False
                        {% elif result_dict[i][6] == 1: %}
                            True
                        {% endif %}
                    </td>
                    <td>
                        {{ result_dict[i][8] }}
                    </td>
                    <td>
                        {% if result_dict[i][4] == 0: %}
                            False
                        {% elif result_dict[i][4] == 1: %}
                            True
                        {% endif %}
                    </td>
                    <td>
                        {% if result_dict[i][9] == 0: %}
                            False
                        {% elif result_dict[i][9] == 1: %}
                            True
                        {% endif %}
                    </td>
                    <td>
                        {{ result_dict[i][10] }}
                    </td>
                    <td>
                        {{ result_dict[i][11] }}
                    </td>
                    <td>
                        {{ result_dict[i][12] }}
                    </td>
                    <td>
                        {{ result_dict[i][13] }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="container-fluid table table-dark table-striped table-sm" style="margin-top: 5%;" id="small-table">
        <thead>
            <tr>
                <th scope="col">Game #</th>
                <th scope="col">Date</th>
                <th scope="col">Result</th>
                <th scope="col">Team</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(20) %}
                <tr>
                    <td>
                        {{ result_dict[i][0] }}
                    </td>
                    <td>
                        {{ result_dict[i][1] }}
                    </td>
                    <td>
                        {{ result_dict[i][3] }}
                    </td>
                    <td>
                        {{ result_dict[i][7] }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}