{% extends "base.html" %}

{% block content %}

<div class="topnav" style="clear: right;">
    <a href="{{ url_for('analyze') }}" class="active-blue" id="home-link">Analyze</a>
    <div id="myLinks">
      <a href="{{ url_for('index') }}" id="analyze-link">Home</a>
      <a href="{{ url_for('logout') }}" id="logout">Logout</a>
      <a href="#" id="extra2-link">extra2</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="dropdownFunction()">
      <i class="fa fa-bars"></i>
    </a>
</div>

<div class="container-fluid">
    <div style="display: flex; flex-direction: row-reverse; justify-content: space-between; margin: 1vw;">
        {% for item in result_dict %}
            {% if result_dict[item][3] == "win" %}
                <div style="background-color: green; width: 3vw; height: 50px;"></div>
            {% elif result_dict[item][3] == "loss" %}
                <div style="background-color: red; width: 3vw; height: 50px;"></div>
            {% elif result_dict[item][3] == "forfeit_win" %}
                <div style="background-color: green; width: 3vw; height: 50px;"></div>
            {% elif result_dict[item][3] == "forfeit_loss" %}
                <div style="background-color: red; width: 3vw; height: 50px;"></div>
            {% else %}
                <div style="background-color: black; width: 3vw; height: 50px;"></div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class='container' style="text-align: center;">
    <p style="color: white; font-size: 30px; text-align: center;">{{ result_dict['record'] }}</p>
    
    <button class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
        <i class="fa fa-plus"></i>
        Apply Filter
    </button>

</div>
<div class="container-fluid">
    <table class="table table-dark table-striped" style="margin-top: 5%;" id="big-table">
        <thead>
            <tr>
                <th onclick="sortTable(0)" scope="col">Game #</th>
                <th onclick="sortTable(1)" scope="col">Date</th>
                <th onclick="sortTable(2)" scope="col">Result</th>
                <th onclick="sortTable(3)" scope="col">Team</th>
                <th onclick="sortTable(4)" scope="col">Game Mode</th>
                <th onclick="sortTable(5)" scope="col">Party</th>
                <th onclick="sortTable(6)" scope="col">Vehicle</th>
                <th onclick="sortTable(7)" scope="col">Topper</th>
                <th onclick="sortTable(8)" scope="col">Antenna</th>
                <th onclick="sortTable(9)" scope="col">FOV</th>
                <th onclick="sortTable(10)" scope="col">Distance</th>
                <th onclick="sortTable(11)" scope="col">Height</th>
                <th onclick="sortTable(12)" scope="col">Angle</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(20) %}
                <tr>
                    <td>
                        {{ result_dict[i][0] }}
                    </td>
                    <td>
                        {{ result_dict[i][1] }}
                    </td>
                    <td>
                        {{ result_dict[i][3] }}
                    </td>
                    <td>
                        {{ result_dict[i][7] }}
                    </td>
                    <td>
                        {{ result_dict[i][5] }}
                    </td>
                    <td>
                        {{ result_dict[i][6] }}
                    </td>
                    <td>
                        {{ result_dict[i][8] }}
                    </td>
                    <td>
                        {{ result_dict[i][4] }}
                    </td>
                    <td>
                        {{ result_dict[i][9] }}
                    </td>
                    <td>
                        {{ result_dict[i][10] }}
                    </td>
                    <td>
                        {{ result_dict[i][11] }}
                    </td>
                    <td>
                        {{ result_dict[i][12] }}
                    </td>
                    <td>
                        {{ result_dict[i][13] }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="container-fluid table table-dark table-striped" style="margin-top: 5%;" id="small-table">
        <thead>
            <tr>
                <th scope="col">Game #</th>
                <th scope="col">Date</th>
                <th scope="col">Result</th>
                <th scope="col">Team</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(20) %}
                <tr>
                    <td>
                        {{ result_dict[i][0] }}
                    </td>
                    <td>
                        {{ result_dict[i][1] }}
                    </td>
                    <td>
                        {{ result_dict[i][3] }}
                    </td>
                    <td>
                        {{ result_dict[i][7] }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please Select a Filter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="analyze-form" id="analyze-form" action="{{ url_for('filter_table') }}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="card">
                        <div class="form-group">
                            {{ form.team.label }}
                            {{ form.team() }}
                        </div>
                    </div>
                    <div class="card">
                        <div class="form-group">
                            {{ form.gamemode.label }}
                            {{ form.gamemode(class="form-control", size="6") }}
                        </div>
                    </div>
                    <div class="card">
                        <div class="form-group">
                            {{ form.vehicle.label }}
                            {{ form.vehicle(class="form-control", size="6") }}
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" form="analyze-form">Apply</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}