<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/styles.css" type="text/css">

    <link rel="icon" href="../static/images/rl_stats_logo_red1.png">

    <title>RL Stats - Home</title>
  </head>
  <body>
    <header>
        <img src="../static/images/blue_octane_banner_v2.png" alt="octane-ball-banner" id="banner-image">
    </header>

    {% block content %}{% endblock %}

    <footer>
        Last Updated: Jun 28 2020
    </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--This is for the vertical collapsible menu-->
    <script>
        function dropdownFunction() {
          var x = document.getElementById("myLinks");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
    </script>

    <!--This script changes the game mode options-->
    <script>
        $(document).ready(function() {
            $(".option-btn").click(function(){
                $("#gamemode").val(this.innerHTML);

                var currMode = document.getElementById("team-select").value;
                if (currMode == "blue") {
                    $(".option-btn").removeClass("option-btn-active-blue");
                    $(this).addClass("option-btn-active-blue");
                } else if (currMode == "orange") {
                    $(".option-btn").removeClass("option-btn-active-red");
                    $(this).addClass("option-btn-active-red");
                }
            })

            // change labels to the competitive versions
            $("#competitive-btn").click(function(){
                $("#standard-btn").text("STANDARD");
            })
            $("#competitive-btn").click(function(){
                $("#dual-btn").text("DUAL");
            })
            $("#competitive-btn").click(function(){
                $("#doubles-btn").text("DOUBLES");
            })
            $("#competitive-btn").click(function(){
                $("#chaos-btn").text("SOLO STANDARD");
            })
            
            // change labels to the casual versions
            $("#casual-btn").click(function(){
                $("#standard-btn").text("3v3");
            })
            $("#casual-btn").click(function(){
                $("#dual-btn").text("1v1");
            })
            $("#casual-btn").click(function(){
                $("#doubles-btn").text("2v2");
            })
            $("#casual-btn").click(function(){
                $("#chaos-btn").text("4v4");
            })

            // change labels to the extra game modes
            $("#extra-btn").click(function(){
                $("#standard-btn").text("RUMBLE");
            })
            $("#extra-btn").click(function(){
                $("#dual-btn").text("SNOW DAY");
            })
            $("#extra-btn").click(function(){
                $("#doubles-btn").text("HOOPS");
            })
            $("#extra-btn").click(function(){
                $("#chaos-btn").text("DROPSHOT");
            })

            // change labels to the special game modes
            $("#special-btn").click(function(){
                $("#standard-btn").text("HEATSEEKER");
            })
            $("#special-btn").click(function(){
                $("#dual-btn").text("DROPSHOT RUMBLE");
            })
            $("#special-btn").click(function(){
                $("#doubles-btn").text("BOOMER BALL");
            })
            $("#special-btn").click(function(){
                $("#chaos-btn").text("BEACHBALL MODE");
            })

            // Put this after changing the text on the option buttons
            $(".category-btn").click(function(){
                var currTeam = document.getElementById("team-select").value;

                if (currTeam == "blue") {
                    // highlight the button just clicked
                    $(".category-btn").removeClass("category-btn-active-blue");
                    $(this).addClass("category-btn-active-blue");
                    // update the hidden input with the new value
                    $("#gamemode").val($(".option-btn-active-blue").text());
                } else if (currTeam == "orange") {
                    // highlight the button just clicked
                    $(".category-btn").removeClass("category-btn-active-red");
                    $(this).addClass("category-btn-active-red");
                    // update the hidden input with the new value
                    $("#gamemode").val($(".option-btn-active-red").text());
                }
            })
          
        })
    </script>

    <!--This script handles the fancy slider formatting for the camera settings sliders-->
    <script>
        $('input[type="range"]').change(function () {
            
            var val = ($(this).val() - $(this).attr('min')) / ($(this).attr('max') - $(this).attr('min'));
            var currTeam = document.getElementById("team-select").value
            if (currTeam == "orange") {
                $(this).css('background-image',
                        '-webkit-gradient(linear, left top, right top, '
                        + 'color-stop(' + val + ', #B93F02), '
                        + 'color-stop(' + val + ', #ddd)'
                        + ')'
                );
            } else if (currTeam == "blue") {
                $(this).css('background-image',
                        '-webkit-gradient(linear, left top, right top, '
                        + 'color-stop(' + val + ', #0055FF), '
                        + 'color-stop(' + val + ', #ddd)'
                        + ')'
                );
            }

        });
    </script>

    <!--This script displays the slider's current value adjacent to the slider-->
    <script>
        var fov_slider = document.getElementById("fov-input");
        var distance_slider = document.getElementById("distance-input");
        var height_slider = document.getElementById("height-input");
        var angle_slider = document.getElementById("angle-input");
        
        var fov_value = document.getElementById("fov-value");
        var distance_value = document.getElementById("distance-value");
        var height_value = document.getElementById("height-value");
        var angle_value = document.getElementById("angle-value");
        
        fov_value.innerHTML = fov_slider.value;
        distance_value.innerHTML = distance_slider.value;
        height_value.innerHTML = height_slider.value;
        angle_value.innerHTML = angle_slider.value;
        
        fov_slider.oninput = function() {
            fov_value.innerHTML = this.value;
            $("#fov").val(this.value);
        }
        distance_slider.oninput = function() {
            distance_value.innerHTML = this.value;
            $("#distance").val(this.value);
        }
        height_slider.oninput = function() {
            height_value.innerHTML = this.value;
            $("#height").val(this.value);
        }
        angle_slider.oninput = function() {
            angle_value.innerHTML = this.value;
            $("#angle").val(this.value);
        }
        
    </script>

    <!--This script handles default values for hidden inputs and the color change when the user changes the current team-->
    <script>
        function teamSelected() {
            var team = document.getElementById("team-select").value;
            sliderWidth()
            if (team == "orange") {
                document.getElementById("banner-image").src = "../static/images/orange_octane_banner_v2.png";
                $("#home-link").addClass("active-red");
                $("form").addClass("form-red");
                $(".category-btn").addClass("category-btn-red");
                $(".category-btn-active-blue").addClass("category-btn-active-red");
                $(".category-btn").removeClass("category-btn-blue");
                $(".category-btn-active-red").removeClass("category-btn-active-blue");
                $(".option-btn").addClass("option-btn-red");
                $(".option-btn-active-blue").addClass("option-btn-active-red");
                $(".option-btn").removeClass("option-btn-blue");
                $(".option-btn-active-red").removeClass("option-btn-active-blue");
                $(".btn-blue").addClass("btn-red");
                $(".btn-red").removeClass("btn-blue");
                $(".fov-slider-blue").addClass("fov-slider-red");
                $(".fov-slider-red").removeClass("fov-slider-blue");
                $(".distance-slider-blue").addClass("distance-slider-red");
                $(".distance-slider-red").removeClass("distance-slider-blue");
                $(".height-slider-blue").addClass("height-slider-red");
                $(".height-slider-red").removeClass("height-slider-blue");
                $(".angle-slider-blue").addClass("angle-slider-red");
                $(".angle-slider-red").removeClass("angle-slider-blue");
            } else if (team == "blue") {
                document.getElementById("banner-image").src = "../static/images/blue_octane_banner_v2.png";
                $("#home-link").removeClass("active-red");
                $("form").removeClass("form-red");
                $(".category-btn").addClass("category-btn-blue");
                $(".category-btn-active-red").addClass("category-btn-active-blue");
                $(".category-btn").removeClass("category-btn-red");
                $(".category-btn-active-blue").removeClass("category-btn-active-red");
                $(".option-btn").addClass("option-btn-blue");
                $(".option-btn-active-red").addClass("option-btn-active-blue");
                $(".option-btn").removeClass("option-btn-red");
                $(".option-btn-active-blue").removeClass("option-btn-active-red");
                $(".btn-red").addClass("btn-blue");
                $(".btn-blue").removeClass("btn-red");
                $(".fov-slider-red").addClass("fov-slider-blue");
                $(".fov-slider-blue").removeClass("fov-slider-red");
                $(".distance-slider-red").addClass("distance-slider-blue");
                $(".distance-slider-blue").removeClass("distance-slider-red");
                $(".height-slider-red").addClass("height-slider-blue");
                $(".height-slider-blue").removeClass("height-slider-red");
                $(".angle-slider-red").addClass("angle-slider-blue");
                $(".angle-slider-blue").removeClass("angle-slider-red");   
            }
        }

        function sliderWidth () {
                var val1 = ($("#fov-input").val() - $("#fov-input").attr('min')) / ($("#fov-input").attr('max') - $("#fov-input").attr('min'));
                var val2 = ($("#distance-input").val() - $("#distance-input").attr('min')) / ($("#distance-input").attr('max') - $("#distance-input").attr('min'));
                var val3 = ($("#height-input").val() - $("#height-input").attr('min')) / ($("#height-input").attr('max') - $("#height-input").attr('min'));
                var val4 = ($("#angle-input").val() - $("#angle-input").attr('min')) / ($("#angle-input").attr('max') - $("#angle-input").attr('min'));

                var currTeam = document.getElementById("team-select").value
                if (currTeam == "orange") {
                    $("#fov-input").css('background-image',
                            '-webkit-gradient(linear, left top, right top, '
                            + 'color-stop(' + val1 + ', #B93F02), '
                            + 'color-stop(' + val1 + ', #ddd)'
                            + ')'
                    );
                    $("#distance-input").css('background-image',
                            '-webkit-gradient(linear, left top, right top, '
                            + 'color-stop(' + val2 + ', #B93F02), '
                            + 'color-stop(' + val2 + ', #ddd)'
                            + ')'
                    );
                    $("#height-input").css('background-image',
                            '-webkit-gradient(linear, left top, right top, '
                            + 'color-stop(' + val3 + ', #B93F02), '
                            + 'color-stop(' + val3 + ', #ddd)'
                            + ')'
                    );
                    $("#angle-input").css('background-image',
                            '-webkit-gradient(linear, left top, right top, '
                            + 'color-stop(' + val4 + ', #B93F02), '
                            + 'color-stop(' + val4 + ', #ddd)'
                            + ')'
                    );
                } else if (currTeam == "blue") {
                    $("#fov-input").css('background-image',
                            '-webkit-gradient(linear, left top, right top, '
                            + 'color-stop(' + val1 + ', #0055FF), '
                            + 'color-stop(' + val1 + ', #ddd)'
                            + ')'
                    );
                    $("#distance-input").css('background-image',
                            '-webkit-gradient(linear, left top, right top, '
                            + 'color-stop(' + val2 + ', #0055FF), '
                            + 'color-stop(' + val2 + ', #ddd)'
                            + ')'
                    );
                    $("#height-input").css('background-image',
                            '-webkit-gradient(linear, left top, right top, '
                            + 'color-stop(' + val3 + ', #0055FF), '
                            + 'color-stop(' + val3 + ', #ddd)'
                            + ')'
                    );
                    $("#angle-input").css('background-image',
                            '-webkit-gradient(linear, left top, right top, '
                            + 'color-stop(' + val4 + ', #0055FF), '
                            + 'color-stop(' + val4 + ', #ddd)'
                            + ')'
                    );
                }

            }




        window.onload = initPage;
        function initPage() {
            // assign teamSelected function to team-select element
            teamSelected();
            sliderWidth();
            $("#team-select")[0].setAttribute("onchange", "teamSelected()");
            $("#gamemode").val("3v3");
            
        }


    </script>

    <!--This script will change the game result's hidden input and submit the form-->
    <script>
        function winClicked() {
            $("#result").val("win");
            // Figure out which option btn is chosen
            if ($("#team-select").val() == "orange") {
                $("#gamemode").val($(".option-btn-active-red").text());
            } else if ($("#team-select").val() == "blue")  {
                $("#gamemode").val($(".option-btn-active-blue").text());
            }

            //$("#gamemode").val($(".option-btn-active-red").innerHTML)
            $("#game-data-form").submit();
        }
        function lossClicked() {
            $("#result").val("loss");
        }
        function ffwClicked() {
            $("#result").val("forfeit_win");
        }
        function fflClicked() {
            $("#result").val("forfeit_loss");
        }
        function dcClicked() {
            $("#result").val("disconnectf");
        }
        
        $("#win").click(winClicked)
        $("#loss").click(lossClicked)
        $("#forfeit_win").click(ffwClicked)
        $("#forfeit_loss").click(fflClicked)
        $("#disconnect").click(dcClicked)
        
    </script>

    <!-- This script will submit the analyze form-->
    <script>
        function btnClicked() {
            $("#analyze-form").submit();
        }
        $("#submit2").click(btnClicked);
    </script>

    <!--This script will sort the analyze table by clicking on the header-->
    <script>
        function sortTable(n) {
          var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
          table = document.getElementById("big-table");
          switching = true;
          // Set the sorting direction to ascending:
          dir = "asc";
          /* Make a loop that will continue until
          no switching has been done: */
          while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
              // Start by saying there should be no switching:
              shouldSwitch = false;
              /* Get the two elements you want to compare,
              one from current row and one from the next: */
              x = rows[i].getElementsByTagName("TD")[n];
              y = rows[i + 1].getElementsByTagName("TD")[n];
              /* Check if the two rows should switch place,
              based on the direction, asc or desc: */
              if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                  // If so, mark as a switch and break the loop:
                  shouldSwitch = true;
                  break;
                }
              } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                  // If so, mark as a switch and break the loop:
                  shouldSwitch = true;
                  break;
                }
              }
            }
            if (shouldSwitch) {
              /* If a switch has been marked, make the switch
              and mark that a switch has been done: */
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
              // Each time a switch is done, increase this count by 1:
              switchcount ++;
            } else {
              /* If no switching has been done AND the direction is "asc",
              set the direction to "desc" and run the while loop again. */
              if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
              }
            }
          }
        }
    </script>

    <!-- This script will filter the table based on the date entered-->
    <script>
        function filterTable() {
          
          // Declare variables
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("big-table");
          tr = table.getElementsByTagName("tr");
        
          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
    </script>
  </body>
</html>