{% extends "base.html" %}

{% block content %}

<div class="topnav">
    <a href="{{ url_for('main.index') }}" class="active-blue" id="home-link">Home</a>
    <div id="myLinks">
      <a href="{{ url_for('main.analyze') }}" id="analyze-link">Analyze</a>
      <a href="{{ url_for('auth.logout') }}" id="logout">Logout</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="dropdownFunction()">
      <i class="fa fa-bars"></i>
    </a>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      {{message}}
    </div>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div class="container">
    <form action="{{ url_for('main.data_submit') }}" id="game-data-form" class="form-blue" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label>Game Mode</label>
            <div class="filter-div-container">
                <div class="btn-group-vertical">
                    <button class="category-btn category-btn-blue category-btn-active-blue" id="casual-btn" type="button">CASUAL</button>
                    <button class="category-btn category-btn-blue" id="competitive-btn" type="button">COMPETITIVE</button>
                    <button class="category-btn category-btn-blue" id="extra-btn" type="button">EXTRA</button>
                    <button class="category-btn category-btn-blue" id="special-btn" type="button">SPECIAL</button>
                </div>
                <div class="option-btn-group">
                    <button class="option-btn option-btn-blue option-btn-active-blue" id="standard-btn" type="button">3v3</button>
                    <button class="option-btn option-btn-blue" id="dual-btn" type="button">2v2</button>
                    <button class="option-btn option-btn-blue" id="doubles-btn" type="button">1v1</button>
                    <button class="option-btn option-btn-blue" id="chaos-btn" type="button">4v4</button>
                </div>    
            </div>
            {{ form.partied.label }}
            {{ form.partied() }}
        </div>
        <div class="form-group">
            {{ form.team.label }}
            {{ form.team(id="team-select", class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.vehicle.label }}
            {{ form.vehicle(id="vehicle-select", class="form-control") }}
            {{ form.topper.label }}
            {{ form.topper() }}
            {{ form.antenna.label(id="antenna-lbl") }}
            {{ form.antenna() }}
        </div>
        <div class="form-group">
            <label>Notes</label>
            {{ form.notes(id="notes-textarea", class="form-control") }}
        </div>
        <div class="form-group">
            <!-- Button trigger modal -->
            <button id="camera-settings-btn" type="button" class="btn btn-blue" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-video-camera"></i>
                Camera Settings
            </button>
        </div>
        <div class="form-group">
            <label>Game Result</label>
            <div class="form-row">
                <div class="col-sm">
                    <button id="win" class="btn btn-blue form-control">WIN</button>
                </div>
                <div class="col-sm">
                    <button id="loss" class="btn btn-blue form-control">LOSS</button>
                </div>
                <div class="col-sm">
                    <button id="forfeit_win" class="btn btn-blue form-control">FF (Win)</button>
                </div>
                <div class="col-sm">
                    <button id="forfeit_loss" class="btn btn-blue form-control">FF (Loss)</button>
                </div>
                <div class="col-sm">
                    <button id="disconnect" class="btn btn-blue form-control">D.C.</button>
                </div>
            </div>
        </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Adjust Camera Settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-blue">
                        <div class="form-group">
                            <label>Field of View</label>
                            <span id="fov-value"></span>
                            <input id="fov-input" name="fov-input" class="form-control fov-slider-blue" type="range" min="60" max="110" step="1" required>
                        </div>
                        <div class="form-group">
                            <label>Distance</label>
                           <span id="distance-value"></span>              
                            <input id="distance-input" name="distance-input" class="form-control distance-slider-blue" type="range" min="100" max="400" step="10" required> 
                        </div>
                        <div class="form-group">
                            <label>Height</label>
                            <span id="height-value"></span>
                            <input id="height-input" name="height-input" class="form-control height-slider-blue" type="range" min="40" max="200" step="10" required>
                        </div>
                        <div class="form-group">
                            <label>Angle</label>
                            <span id="angle-value"></span>
                            <input id="angle-input" name="angle-input" class="form-control angle-slider-blue" type="range" min="-15" max="0" step="1" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-blue" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
