<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/login_style.css" type="text/css">
        <title>RL Stats Tracker Login</title>
    </head>
<body>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<div class="main"> 
    
    
    <div class="container">
        <div class="middle">
            <div id="login">
                <form action="javascript:void(0);" method="POST" novalidate>
                    {{ form.hidden_tag() }}
                    <fieldset class="clearfix">
                    <p style="color: red;">
                        {{ form.username.label }}<br>
                        {{ form.username() }}
                    </p> <!-- JS because of IE support; better: placeholder="Username" -->
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password() }}
                    </p> <!-- JS because of IE support; better: placeholder="Password" -->
                    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                    <p>{{ form.submit() }}</p>

                        <!-- This block is the OG login code, still here just for a reference.
                        <p>
                            <span class="fa fa-user"></span>
                            <input type="text"  Placeholder="Username" required>
                        </p>
                        <p>
                            <span class="fa fa-lock"></span>
                            <input type="password"  Placeholder="Password" required>
                        </p>
                        <div>
                            <span style="width:48%; text-align:left;  display: inline-block;"><a class="small-text" href="#">Forgot password?</a></span>
                            <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit" value="Sign In"></span>
                        </div>-->

                    </fieldset>
                    <div class="clearfix"></div>
                </form>

                <div class="clearfix"></div>

            </div> <!-- end login -->
            <div class="login-logo">
                <img src="../static/images/rl_logo.png" alt="Rocket League Logo" style="width: 100%; height: auto;">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>